<div class="container">
    <h2 class="mb-4">Lista de Registro de Ingreso de EPP por Almacén</h2>
    <button class="btn btn-primary mb-3" [routerLink]="['formsEntrada']">Registrar Nuevo Ingreso</button>
    <table class="table">
        <thead>
        <tr> 

            <th scope="col">Descripcion del EPP</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha</th>
           

            <th scope="col">Opciones/Acciones</th>
        </tr>
        </thead>
 
        <tbody>
        <tr *ngFor="let entrada of entradas">
            <!-- <th scope="row">{{colaborador.id}}</th> -->
            <td>{{entrada.patrimonioEntrada.desPatrimonio}}</td>
            <td>{{entrada.cantidadEntrada}}</td>
            <td>{{(entrada.fechaEntrada)}}</td>

            <td>
                <button class="btn btn-info me-3" [routerLink]="['formsEntrada',entrada.id]">Editar</button>
                <button class="btn btn-danger" (click)="deleteEntrada(entrada.id)" >Eliminar</button>
            </td>

            <td></td>
        </tr>
        
        </tbody>
    </table>
</div>